@import '../../styles.sass'
nav 
    // position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 60px
    display: flex
    justify-content: space-between
    align-items: center

ul  
    list-style: none
    display: flex
    gap: 10px

.button 
    background-color: $primary
    width: 100px
    height: 34px
    text-align: center
    font-family: "Nunito",sans-serif
