@import '../../styles.sass'
nav 
    position: relative
    height: 60px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 16px

ul  
    list-style: none
    display: flex
    gap: 10px