<nav class="normal-menu">
    <a class="nav-logo">
      <app-svg-icon path="assets/images/download.svg"></app-svg-icon>
    </a>
    <ul class="nav-items">
      <li *ngIf="isLoggedIn" class="nav-item"><img class="user-icon" src="/assets/images/profile-icon.ico"></li>
      <li class="nav-item button" routerLink="/users" (click)="scrollTo()">Users</li>
      <li class="nav-item button" (click)="signUpHandler()">{{isLoggedIn ?"Sign out":"Sign up" }}</li>
    </ul>
    <div class="burger" (click)="toggleBurger()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <nav *ngIf="burgerIsOpen"  class="burger-menu">
    <div class="background" (click)="toggleBurger()"></div>
    <ul @burgerState>
      <li>One</li>
      <li>One</li>
      <li>One</li>
      <li>One</li>
      <li>One</li>
      <li>One</li>
      <li>One</li>
    </ul>
  </nav>

