<div class="user-card">
  <img
    *ngIf="!(imageLoadError || !user.image); else palceholderImage"
    [src]="user.image | addBase64Prefix"
    alt="{{ user.name }}"
    (error)="imageLoadError = true"
  />
  <ng-template #palceholderImage>
    <app-placeholder-image></app-placeholder-image>
  </ng-template>
  <p app-tooltip-directive>{{ user.name }}</p>
  <div class="info_group">
    <p>{{ user.position }}</p>
    <p app-tooltip-directivep>{{ user.email }}</p>
    <p>{{ user.phone }}</p>
  </div>
</div>
