.user-card
  padding: 1.25rem
  background-color: #FFFFFF
  border-radius: 0.625rem
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  text-align: center
  gap: 1.25rem
  width: 100%


  img
    height: 4.375rem
    width: 4.375rem
    border-radius: 50%

p
  width: 100%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  cursor: default
