.user-card
  padding: 20px
  background-color: #FFFFFF
  border-radius: 10px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  text-align: center
  gap: 20px
  img
    height: 70px
    width: 70px
    border-radius: 50%
    background-color: red
