.image
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80') no-repeat center
  height: 31.25rem
  width: 100wh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  @media ( min-width: 768px)
    height: 40.625rem

.text-group
  color: white
  text-align: center
  display: flex
  flex-direction: column
  gap: 1.313rem
  align-items: center
  width: 20.5rem
  @media screen and ( min-width: 768px )
    width: 23.75rem
