<div class="image">
  <div class="text-group">
    <h1>My Demo-project</h1>
    <p>
      A standout frontend developer combines technical expertise with a strong
      aesthetic sense. They have a deep understanding of UI/UX principles and
      can create visually appealing designs that align with the brand identity.
      Their proficiency in HTML, CSS preprocessors, and JavaScript libraries
      enables them to develop responsive and interactive websites. They have a
      solid foundation in cross-browser compatibility and optimization
      techniques for optimal performance. A great frontend developer is a
      problem solver who is constantly pushing boundaries and exploring new
      technologies to create cutting-edge solutions.
    </p>
  </div>
</div>
