.user-group
  display: flex
  flex-direction: column
  padding: 0 1rem
  margin-top: 2.5rem
  gap: 8.75rem
  @media screen and ( min-width: 768px )
    padding: 0 2rem
  @media screen and ( min-width: 1024px )
    padding: 0 3.75rem
  @media screen and ( min-width: 2560px )
    padding: 0

app-user-list
    display: flex
    flex-direction: column
    gap: 3.125rem
    align-items: center
