.user-group
    display: flex
    flex-direction: column
    padding: 0 16px
    margin-top: 40px
    gap: 140px
app-user-list
    display: flex
    flex-direction: column
    gap: 50px
    align-items: center